/************************************************
   _____       _   _   _                      
  /  __ \     | | | | | |                     
  | /  \/ __ _| |_| |_| | ___  _   _ ___  ___ 
  | |    / _` | __|  _  |/ _ \| | | / __|/ _ \
  | \__/\ (_| | |_| | | | (_) | |_| \__ \  __/
   \____/\__,_|\__\_| |_/\___/ \__,_|___/\___|

  등록 전용 스타일
                      JoonChul Kim (jETA). 2015.
************************************************/

#contents > div {
    display: inline-block;
    vertical-align: top;
    
    height: 280px;
    
    margin: 100px 0px;
    
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-top: 2px solid #26a8d4;
    
    font-size: 18px;
    color: #666666;
}
@media all and (max-width: 959px) {
    #contents > div { height: auto; margin: 10px auto; }
}

div.box1 { width: 520px; }
div.box2 { width: 420px; }

@media all and (max-width: 959px) {
    div.box1, div.box2 { width: 90%; }
}

#contents .title {
    font-size: 24px;
    color: #333333;
    
    display: block;
    width: 90%;
    
    margin: auto;
    padding: 20px 0px;
    
    border-bottom: 2px solid #3F5157;
}

#contents .innerBox1, #contents .innerBox2 { height: 180px; margin: 15px auto;}

#contents .innerBox1 {
    width: 45%;
    display: inline-block;
    line-height: 50px;
}
#contents #box_registGeneral { border-right: 1px solid #DEDEDE; }

@media all and (max-width: 959px) {
    #contents .innerBox1, #contents .innerBox2 {
        width: 90%;
        display: block;
    }
    #contents #box_registGeneral { border-right: none; }
}

#contents .innerBox1 .innerTitle {
    font-size: 22px;
    color: #26A8D4;
    
    display: block;
}

#contents .innerBox2 {
    line-height: 120px;
}

#contents button { margin: auto; }
#contents .innerBox1 button { margin-top: 20px; }

