<!DOCTYPE html>

<html>
<head>
    <title></title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="~/Contents/common.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/registSub.css" />

    <script src="~/Contents/common.js"></script>

    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script src="~/Contents/DaumAddress.js"></script>
    <script src="//apis.daum.net/maps/maps3.js?apikey=b5192e1790c15977e7899894dccac0d7&libraries=services"></script>

    <script>
        // Daum 우편 번호 및 주소 검색 서비스 실행
        function maps() {
            getAddressFromDaum();
        }
    </script>
</head>
<body>
    <!--Header Include-->
    @{Html.RenderPartial("header");}

    <section id="visual"> <img src="~/Contents/Image/pawbubble.png" /> <span style="font-weight: bold;">당신의 정보</span>를 관리하세요.</section>
    </header>

    <section id="contents">
        @using (Html.BeginForm("MemberCreate", "Regist", FormMethod.Post, htmlAttributes: new { @class = "pt10 pb10 mb20" }))
        {
            <p><span class="formLabel">이름</span><input type="text" class="formInput t2" name="memName" /></p>
            <p><span class="formLabel">이메일</span><input type="email" class="formInput t2" name="memEmail" /></p>
            <p><span class="formLabel">전화번호</span><input type="tel" class="formInput t2" name="memPhone" /></p>
            @*<p><span class="formLabel">집주소</span><input type="text" class="formInput t4" name="memAddress" /></p><span onclick="maps()">주소 찾기</span>*@

            <!--예제-->
            <input type="text" name="postCode" id="postCode" placeholder="우편번호">
            <input type="button" onclick="maps()" value="우편번호 찾기"><br>
            <input type="text" name="roadAddress" id="roadAddress" placeholder="도로명주소">
            <input type="text" name="mapAddress" id="mapAddress" placeholder="지번주소">
            <!--예제 끝-->

            <p><span class="formLabel">비밀번호</span><input type="password" class="formInput t2" name="memPassword" /></p>
            <button id="btn_regist" class="btn btn_blue">회원등록</button>
        }
    </section>

    <!--Footer Include-->
    @{Html.RenderPartial("footer");}
</body>
</html>
