@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="~/Contents/common.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/regist.css" />
    
    <script src="~/Contents/common.js"></script>
    <script type="text/javascript">
        // 회원 탈퇴 시 다시한번 체크하는 함수
        function memberDrop() {
            var memberdDropCheck = confirm("정말로 탈퇴 하실거에요?");
            if (memberdDropCheck) {
                window.location.href = '@Url.Action("MemberDrop", "Account")';
            } else {
                alert("휴, 정말 다행이에요.");
            }

        }
    </script>
</head>
<body>
    <!--Header Include-->
    @{Html.RenderPartial("header");}

    <!--상단 아이콘-->
    <section id="visual"> <img src="~/Contents/Image/pawbubble.png" /> <span style="font-weight: bold;">당신의 정보</span>를 관리하세요.</section>
    </header>
    <!--콘텐츠 표시-->
    <section id="contents">
        <div class="box1">
            <span class="title">정보 변경</span>
            <div id="box_registGeneral" class="innerBox1">
                <span class="innerTitle">비밀번호 바꾸기</span>
                주기적으로 바꿉니다.
                <button class="btn btn_blue" type="button" title="일반회원등록" onclick="location.href='@Url.Action("PasswordChange", "Account")'">비밀번호 변경</button>
            </div>
            <div id="box_registHouse" class="innerBox1">
                <span class="innerTitle">사람</span>
                당신의 정보를 변경하세요.
                <button class="btn btn_blue" type="button" title="업체회원등록" onclick="location.href='@Url.Action("InfoChange", "Account")'">정보 변경</button>
            </div>
        </div>

        <div>

        </div>
        <div class="box2">
            <span class="title">회원탈퇴</span>
            <div id="box_registCat" class="innerBox2">
                아쉽지만 다음에 만나요!
                <button class="btn btn_dark" type="button" title="업체회원등록" onclick="memberDrop()">회원 탈퇴</button>
            </div>
        </div>
    </section>
    <!--Footer Include-->
    @{Html.RenderPartial("footer");}
</body>
</html>
