@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="~/Contents/common.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/regist.css" />

    <script src="~/Contents/common.js"></script>

</head>
<body>
    <!--Header Include-->
    @{Html.RenderPartial("header");}

    <section id="visual"> <img src="~/Contents/Image/pawbubble.png" /> <span style="font-weight: bold;">당신의 정보</span>를 관리하세요.</section>
    </header>
    <section id="contents">
        <div class="box2">
            <span class="title">회원탈퇴</span>
            <div id="box_registCat" class="innerBox2">
                아쉽지만 다음에 만나요!
                @*<button class="btn btn_dark">고양이 등록</button>*@
                <button class="btn btn_dark" type="button" title="회원 탈퇴" onclick="location.href='@Url.Action("MemberDrop","Account")'">회원 탈퇴</button>
            </div>
        </div>
    </section>
    <!--Footer Include-->
    @{Html.RenderPartial("footer");}
</body>
</html>
