@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="~/Contents/common.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/search_filter.css" />

</head>
<body>
    <!--Header Include-->
    @{Html.RenderPartial("header");}
    <section id="visual"> <img src="~/Contents/Image/map.png" />저희가 찾은 장소는 <span style="font-weight: bold;">여기</span> 입니다! </section>
    </header>


    <!--footer Include-->
    @{Html.RenderPartial("footer");}
</body>
</html>
