<!DOCTYPE html>
@{
    // 위도와 경도를 DB로 부터 받아서 lng/lnt 항목에 넣어 Daum 지도에서 보이게 한다.
    double lng = 0;
    double lnt = 0;
    // 넘어온 값이 없으면 기본적인 장소는 성공회대학교
    if (ViewBag.lng == null || ViewBag.lnt == null)
    {
        //37.4874741,126.8235651
        lng = 37.4874741;
        lnt = 126.8235651;
    }
    else
    {
        lng = Convert.ToDouble(ViewBag.lng);
        lnt = Convert.ToDouble(ViewBag.lnt);
    }
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="~/Contents/common.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/search_map.css" />
    <script src="~/Contents/common.js"></script>
    <script src="~/Contents/DaumAddress.js"></script>
    <!--다음 지도-->
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=b5192e1790c15977e7899894dccac0d7"></script>
    <script>
        // 지도 초기 세팅
        function setMap(lng,lnt) {
            var container = document.getElementById('map2'); //지도를 담을 영역의 DOM 레퍼런스
            var options = { //지도를 생성할 때 필요한 기본 옵션
                center: new daum.maps.LatLng(@lng, @lnt), //지도의 중심좌표.
                level: 3 //지도의 레벨(확대, 축소 정도)
            };
            var map2 = new daum.maps.Map(container, options); //지도 생성 및 객체 리턴

            // 마커가 표시될 위치입니다
            var markerPosition  = new daum.maps.LatLng(lng, lnt);

            // 마커를 생성합니다
            var marker = new daum.maps.Marker({
                position: markerPosition
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map2);

            // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
            // marker.setMap(null);
        }
    </script>
</head>
<body>
    <!--Header Include-->
    @{Html.RenderPartial("header");}
    <section id="visual"> <img src="~/Contents/Image/mappin.png" /> 근처의 <span style="font-weight: bold;">맡길 장소</span>를 찾아볼까요? </section>
    </header>

    <section id="contents">
        <span class="formTitle">장소검색</span>
        <form class="pt20 pb10 mb20">
            @*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d25326.033177667854!2d127.13656985!3d37.49012765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sko!2skr!4v1445674339746" frameborder="0" id="map" allowfullscreen></iframe>*@
            <iframe onload="setMap(@lng,@lnt)" frameborder="0" id="map" allowfullscreen></iframe>
            <div id="map2" style="width:500px;height:400px;"></div>
            <div>
                <span class="resultTitle">홍대입구</span>
                <span class="resultAddr">서울특별시 마포구 서교동 1234</span>
                <span class="resultPhone"><a href="tel:010-1234-1234">010-1234-1234</a></span>
                <img class="resultImage" /><img class="resultImage" />
            </div>
            <div>
                <span class="resultTitle">홍대입구</span>
                <span class="resultAddr">서울특별시 마포구 서교동 1234</span>
                <span class="resultPhone"><a href="tel:010-1234-1234">010-1234-1234</a></span>
                <img class="resultImage" /><img class="resultImage" />
            </div>
            <div>
                <span class="resultTitle">홍대입구</span>
                <span class="resultAddr">서울특별시 마포구 서교동 1234</span>
                <span class="resultPhone"><a href="tel:010-1234-1234">010-1234-1234</a></span>
                <img class="resultImage" /><img class="resultImage" />
            </div>
            <div>
                <span class="resultTitle">홍대입구</span>
                <span class="resultAddr">서울특별시 마포구 서교동 1234</span>
                <span class="resultPhone"><a href="tel:010-1234-1234">010-1234-1234</a></span>
                <img class="resultImage" /><img class="resultImage" />
            </div>
            <button id="btn_search" class="btn btn_blue" onclick="changeCoordinateToAddress(@lng,@lnt)">검색</button>
        </form>
    </section>
    <!--footer Include-->
    @{Html.RenderPartial("footer");}
</body>
</html>
