<div class="onlyMobile" id="mobileMenu"></div>
<header>
    <menu id="gnb" class="pt20">
        <img id="goto_home" class="fl btn_span" src="~/Contents/Image/logo.png" alt="메인 페이지로 이동" />
        <div id="wrap_login">
            <a href="#">홍길동님</a>
            <img id="btn_login" src="~/Contents/Image/logout.png" />
        </div>
        @*<div id="wrap_login">
            <a href="#">홍길동님</a>
            <img id="btn_login" src="~/Contents/Image/logout.png" />
        </div>*@
        <ul>
            <li class="on"><span>홈</span></li>
            <li><span>고양이하숙</span></li>
            <li><span>등록</span></li>
            <li><span>검색</span></li>
            <li class="onlyMobile"><span>홍길동님 | 로그아웃</span></li>
        </ul>
    </menu>
