@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Contents/common.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/registSub.css" />

    <script src="~/Contents/common.js"></script>

</head>
<body>
    <!--Header Include-->
    @{Html.RenderPartial("header");}

    <section id="visual"> <img src="~/Contents/Image/pawbubble.png" /> <span style="font-weight: bold;">고양이 하숙</span>은 이렇습니다.</section>
    </header>




    <!--Footer Include-->
    @{Html.RenderPartial("footer");}
</body>
</html>
