@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="~/Contents/common.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/registSub.css" />

    <script src="~/Contents/common.js"></script>

</head>
<body>
    <!--Header Include-->
    @{Html.RenderPartial("header");}

    <section id="visual"> <img src="~/Contents/Image/pawbubble.png" /> <span style="font-weight: bold;">고양이 하숙</span>이 이상하신가요?</section>
    </header>
    <h1 align="center">고양이 하숙이 이상하신가요?</h1>
    <p align="center">
        페이스북 또는 이메일(kanghanstar@outlook.com)으로 문의주세요!
    </p>
    <!--Footer Include-->
    @{Html.RenderPartial("footer");}
</body>
</html>
