<!doctype html>
<html>
<head>
    <title>고양이하숙</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta charset="UTF-8" />
    <meta name="description" content="고양이 하숙입니다." />

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="~/Contents/common.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/main.css" />
    
    <script src="~/Contents/common.js"></script>
</head>
<body>
    <!--Header Include-->
    @{Html.RenderPartial("header");}
    <section id="visual"> <img src="~/Contents/Image/mainText.png" /> </section>
    </header>

    <section id="contents">
        <div class="mainMenu">
            <img class="mainIcon" src="~/Contents/Image/pawstamp.png" />
            <span class="mainTitle">고양이 하숙 소개</span>
            <span class="mainDesc">고양이 하숙에 대해<br />알아보세요!</span>
            <!--<A>태그 생성 및 이동-->
            @Html.ActionLink("소개보기", "About", "Intro", null, new { @class = "mainGo" })
        </div>
        <div class="mainMenu">
            <img class="mainIcon" src="~/Contents/Image/pencil.png" />
            <span class="mainTitle">등록</span>
            <span class="mainDesc">고양이를 맡기기 위해 먼저<br />등록을 해야겠죠?</span>
            <!--<A>태그 생성 및 이동-->
            @Html.ActionLink("등록하기", "MainRegist", "Regist", null, new { @class = "mainGo" })

        </div>
        <div class="mainMenu">
            <img class="mainIcon" src="~/Contents/Image/placepin.png" />
            <span class="mainTitle">장소 찾기</span>
            <span class="mainDesc">자신 주변에 탁묘할 만한<br />장소가 있는지 찾아보러 갑니다.</span>
            <!--<A>태그 생성 및 이동-->
            @Html.ActionLink("장소찾기", "MainFinder", "Search", null, new { @class = "mainGo" })
        </div>
    </section>

    <!--footer Include-->
    @{Html.RenderPartial("footer");}
</body>
</html>
