<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="~/Contents/common.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/registred.css" />

    <script src="~/Contents/common.js"></script>
</head>
<body>
    <!--Header Include-->
    @{Html.RenderPartial("header");}

    <section id="visual"> <img src="~/Contents/Image/mic.png" /> 고양이 하숙의 회원이 되신 것을 <span style="font-weight: bold;">환영합니다!</span> </section>
    </header>

    <section id="contents">
        <div class="mainMenu">
            <img class="mainIcon" src="~/Contents/Image/pencil.png" />
            <span class="mainTitle">고양이 등록</span>
            <span class="mainDesc">회원이 되셨으니,<br />고양이를 등록하셔야겠죠?</span>
            @*<a class="mainGo">등록하기</a>*@
            @Html.ActionLink("등록하기", "CatRegist", "Regist", null, new { @class = "mainGo" })
        </div>
        <div class="mainMenu">
            <img class="mainIcon" src="~/Contents/Image/placepin.png" />
            <span class="mainTitle">장소 찾기</span>
            <span class="mainDesc">근처에 맡길 곳이 있나<br />찾아보러 갑시다.</span>
            @*<a class="mainGo">장소찾기</a>*@
            @Html.ActionLink("장소찾기", "FilterFinder", "Finder", null, new { @class = "mainGo" })
        </div>
        <div class="mainMenu">
            <img class="mainIcon" src="~/Contents/Image/pawstamp.png" />
            <span class="mainTitle">고양이 하숙 소개</span>
            <span class="mainDesc">고양이 하숙에 대해<br />알아보세요!</span>
            @*<a class="mainGo">소개보기</a>*@
            @Html.ActionLink("소개보기", "About", "Home", null, new { @class = "mainGo" })
        </div>
    </section>

    <!--Footer Include-->
    @{Html.RenderPartial("footer");}
</body>
</html>
